# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/appl_1980_2014.csv)

In [15]:
data = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/appl_1980_2014.csv")
data.head(5)

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 3. Assign it to a variable apple

In [16]:
apple = pd.DataFrame(data)

### Step 4.  Check out the type of the columns

In [17]:
apple.describe()
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       8465 non-null   object
 1   Open       8465 non-null   float64
 2   High       8465 non-null   float64
 3   Low        8465 non-null   float64
 4   Close      8465 non-null   float64
 5   Volume     8465 non-null   int64
 6   Adj Close  8465 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 463.1+ KB

### Step 5. Transform the Date column as a datetime type

In [10]:
apple['Date'] = pd.to_datetime(apple['Date'])

### Step 6.  Set the date as the index

In [11]:
apple.set_index('Date', inplace=True)

### Step 7.  Is there any duplicate dates?

In [23]:
apple.index.duplicated().any()

False

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [25]:
apple[::-1].head(5)
# apple.head(5)

            Date   Open   High    Low  Close     Volume  Adj Close
8464  1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
8463  1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8462  1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8461  1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8460  1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41

### Step 9. Get the last business day of each month

In [26]:
# Get the last business day of each month

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

### Step 10.  What is the difference in days between the first day and the oldest

### Step 11.  How many months in the data we have?

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.

In [3]:
import math

entropy = -5/7 * math.log2(5/7) - 2/7 * math.log2(2/7)
# print(entropy)

-0.0